@responsive {
  .vh-20{
    height: 20vh;
  }
  .vh-30{
    height: 30vh;
  }
  .vh-40{
    height: 40vh;
  }
  .vh-50{
    height: 50vh;
  }
  .vh-60{
    height: 60vh;
  }
  .vh-70{
    height: 70vh;
  }
  .vh-80{
    height: 80vh;
  }
}

.open{
  cursor: zoom-in;
}

.close{
  cursor: zoom-out;
}
